root = true

[*]
end_of_line = lf
insert_final_newline = true

[Makefile]
indent_style = tab
indent_size = 4

[*.{g4, g}]
charset = utf-8
indent_style = tab
indent_size = 4

[*.{ts, py, nyar, n}]
charset = utf-8
indent_style = space
indent_size = 4

[*.{json, yml}]
charset = utf-8
indent_style = space
indent_size = 4

[*.{md, markdown}]
charset = utf-8
indent_style = tab
indent_size = 4
